@import 'fonts.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat';
  font-weight: 400;
}
.navbar {
  width: 100%;
  min-height: 65px;
  background: #282828;
}
.navbar__nav {
  max-width: 1110px;
  min-height: 65px;
  margin: 0 auto; 
  padding: 6px 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__nav-titles {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
  align-items: center;
}
.navbar__logo {
  height: 53px;
}
.navbar__Link {
  padding: 14px 15px 15px;
  display: inline-flex;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
.navbar__search {
  display: flex;
  justify-content: center;
  gap: 25px;
  cursor: pointer;
}

.navbar__btn {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  border: none;
  background: transparent;
}
.navbar__btn span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: #FFFFFF;
}
              /* BANNER */
.banner {
  width: 100%;
  min-height: 635px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../Images/Header.jpg) no-repeat center top / cover;
  object-fit: cover;
}
.banner h1 {
  color: #FFFFFF;
  font-size: 100px;
  line-height: 75px;
  font-family: 'ProstoOne';  
}
.banner button{
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 38px;
  padding: 13px 14px;
  border: none;
  cursor: pointer;
}
.banner a {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #171718;
  text-transform: uppercase;
}
.banner img {
  padding-left: 11px;
}

       /* ABOUT */
.about {
  width: 100%;
  min-height: 300px;
  margin: 0 auto ;
  background: #151515;
  padding-bottom: 50px;
}
.about__card-one {
  max-width: 1110px;
  min-height: 200px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.about__card-one p{
  max-width: 540px;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  margin: 33px 30px 167px 0 ;
}
.about__card-one img {
  width: 51%;
}
.about__card-two {
  max-width: 1110px;
  min-height: 200px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
}
.about__card-two img {
  width: 47%;
  margin-right: 87px;
}
.about__card-two p {
  max-width: 500px;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
}
.about__card-three {
  max-width: 1110px;
  min-height: 200px;
  margin: 0 auto 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__card-three p{
  max-width: 333px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.about__card-threeText{
  text-align: right;
}
.about__card-lineLeft,
.about__card-lineRight {
  width: 61px;
  border: 1px solid #C4C4C4;
  margin: 0 14px;
}
.about__card-three img {
  width: 24.1%;
}

/* CATALOG */
.catalog {
  width: 100%;
  min-height: 312px;
  margin: 0 auto ;
  background: #151515;
  display: flex;
}
.catalog__item{
  max-width: 1110px;
  min-height: 312px;
  margin: 0 auto 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #151515;
  flex-wrap: wrap;
}
.catalog__item-top ,
.catalog__item-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.item{
  width: 255px;
  height: 312px;
  padding: 18px 47px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  border-radius: 6px;
  gap: 10px;

}
.item h3 {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.item p {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
}
.item button {
  width: 161px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #151515;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20;
  font-weight: 700;
  cursor: pointer;
}
/* FOOTER */
.footer{
  width: 100%;
  min-height: 215px;
  margin: 0 auto;
  background: #282828;
}
.footer__item{
  max-width: 1110px;
  min-height: 215px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list{
  display: flex;
  margin-left: 69px;
}
.footer__list a{
  padding: 0 15px;
  display: inline-flex;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.footer__pay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
       /*             MEDIA                   */
@media (max-width: 992px) {}
@media (max-width: 768px) {
    .navbar__nav-titles {
      max-width: 200px;
      margin: 0;
      justify-content: flex-start;
      gap: 25px;
    }
    .navbar__search {
      gap: 15px;
    }
    .navbar__btn {
      display: flex;
      width: 35px;
    }
    .navbar__list {
      max-width: 400px;
      width: 100%;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      background: #282828;
      box-shadow: 0 0 10px 0 rgba(0, 71, 184, 0.49);
      flex-direction: column;
      justify-content: center;
      transform: translateX(-410px);
    }
    .navbar__list {
      flex-direction: column;
      align-items: center;
    }
    .banner h1 {
      font-size: 60px;
      line-height: 85px;
    }
    .about__card-one p ,
     .about__card-two p ,
     .about__card-three p {
      font-size: 17px;
      line-height: 22px;
    }
    .about__card-one p {
      margin: 20px 20px 20px 0;
    }
    .about__card-two {
      padding: 0;
    }
    .about__card-two img {
      margin-right: 0;
    }
    .about__card-lineLeft,
    .about__card-lineRight {
      margin: 0 10px;
    }
    .footer__list {
      margin: 0;
    }
    .footer__pay img {
      width: 65px;
    }
   
}
@media (max-width: 576px) {
  .catalog__item-top,
  .catalog__item-bottom {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }
  .footer__item {
    padding: 10px 0;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .banner h1 {
    font-size: 45px;
    line-height: 70px;
  }
  .banner button {
    width: 160px;
  }
  .banner a {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
  }
  .banner img {
    padding-left: 10px;
  }
  .about__card-one  {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .about__card-one p ,
  .about__card-two p ,
  .about__card-three p{
    margin: 0 auto;
    text-align: center;
    padding: 0 5px;
    font-size: 15px;
    line-height: 20px;
  }
  
    
  
  .about__card-two {
    flex-direction: column;
    gap: 20px;
  }
  .about__card-three {
    flex-direction: column;
    gap: 20px;
  }
  .about__card-lineLeft,
  .about__card-lineRight {
    width: 60%;
  }
  
}
@media (max-width: 375px) {}






  
  


